# dist file for OpenCL

git      /extensions/OpenCL            https://github.com/OpenEngineDK/extensions-OpenCL.git
git-dev  /extensions/OpenCL            git@github.com:OpenEngineDK/extensions-OpenCL.git
